<!DOCTYPEhtml >
<html >
<head >
<meat charset=lutf-8>
<meat httprequiv = x - ua - compatible'content='ie=edge>
<title > Oque são Animes? < / title
< > meta name= 'viewport' content= 'width=device-width,initial-scale=1'>
<link rel = 'stylesheet' type = 'text/css' media = 'screen'href = 'style.css' >
<script src = 'main is'> < / script >
< / head >
<body >
<header > <p ><img id = 'titulo imagem' src = "d840kov-15a917ce-53b0-4ece-b672-df30b4623df9.png" alt = "Anime, animê ou animé, se refere é uma animação desenhada à mão ou por computação gráfica do Japão. Fora do Japão e em inglês, anime refere-se à animação japonesa e refere-se especificamente à animação produzida no Japão. "> < / p >
< / ul >
< / div >
<div class = "segundoparagrafo" >
<h3> titulo-texto 02</h3>
<p> texto descritivo 02 </p>
< / div >
<h1 > * * * < / h1 >
< / main >
<footer > <p > <img id = " Animes" src = " d840kov-15a917ce-53b0-4ece-b672-df30b4623df9.png" alt = " Anime, animê ou animé, se refere é uma animação desenhada à mão ou por computação gráfica do Japão. Fora do Japão e em inglês, anime refere-se à animação japonesa e refere-se especificamente à animação produzida no Japão. "> < / p >
< / footer >
< / body >
< / html >
hav li { text-transform :uppercase; list-style : none; display : inline; margin-left : 10px ; text-align : right}
nav a { color : #ceeffc ; texct-decoration none . text-align : right ;}
# lista01 { display : block; text-align : center;}