@import  url (http://fonts.googleapis.com/css?family=Open+Sans:300italic , 700 italic , 400 , 700 );
@import  url (http://fonts.googleapis.com/css?family=Raleway:700 , 400 , 300 );
corpo {
	font-family :  'Open Sans' , sans-serif;
}
. marca {
	font-family :  'Ralway' , sem serifa;
}
html ,
corpo {
	altura :  100 % ;
}
corpo {
	tamanho da fonte :  15 px ;
	altura da linha :  1,50 ;
	cor :  # 333333 ;
	cor de fundo :  # ffffff ;
	posição : relativa;
}
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
	cor :  # 333333 ;
}
h1 {
	tamanho da fonte :  38 px ;
	peso da fonte :  700 ;
	margem inferior :  20 px ;
}
h2 {
	tamanho da fonte :  28 px ;
	margem inferior :  15 px ;
}
h3 {
	tamanho da fonte :  22 px ;
}
h4 {
	tamanho da fonte :  18 px ;
	peso da fonte :  700 ;
}
h5 {
	tamanho da fonte :  16 px ;
	text-transform : letras maiúsculas;
	peso da fonte :  700 ;
}
h6 {
	peso da fonte :  700 ;
}
 intervalo h1 ,
 intervalo h2 ,
 intervalo h3 ,
 intervalo h4 {
	cor :  # DB0A61 ;
}
. colorido {
	cor :  # DB0A61 ;
}
um {
	cor :  # 55acee ;
}
a : passe o mouse {
	cor :  # 339BEB ;
}
a : foco ,
a : ativo {
	contorno : nenhum;
}
. grande {
	tamanho da fonte :  18 px ;
}
img {
	exibição : bloco;
	largura máxima :  100 % ;
	altura : automático;
}
. lista sem estilo  li {
	preenchimento :  5 px  0 ;
}
. lista-horizontal {
	preenchimento :  15 px  0 ;
}
. lista-item-horizontal  img {
	exibição : bloco;
	margem :  0 automático;
}
. lista-ícones {
	preenchimento :  0 ;
	margem :  20 px  0 ;
	estilo de lista : nenhum;
	tamanho da fonte :  18 px ;
}
. lista-ícones  li {
	preenchimento :  0  0  15 px  0 ;
}
citação em bloco {
	borda-esquerda : nenhum;
	padding-esquerda :  0 ;
	padding-right :  0 ;
}
. título {
	margem superior :  0 ;
}

/* Disposição
-------------------------------------------------- ---------------------- */
. cabeçalho {
	cor :  #ffffff ; _
	cor de fundo :  rgba ( 0 ,  0 ,  0 ,  1 );
	preenchimento :  10 px  0 ;
	-webkit-transition : todos os 0,2 s de entrada e saída;
	-moz-transition : todos os 0,2 s de entrada e saída;
	-o-transition : todos os 0,2 s de entrada e saída;
	-ms-transition : todos os 0,2 s de entrada e saída;
	transição : todos os 0,2 s de atenuação;
}
. bandeira {
	largura :  100 % ;
	altura :  100 % ;
	altura mínima :  100 % ;
	posição : relativa;
	cor :  #fff ; _
}
. imagem de banner {
	alinhamento vertical : meio;
	altura mínima :  100 % ;
	largura :  100 % ;
}
. bandeira : depois {
	posição : absoluto;
	superior :  0 ;
	esquerda :  0 ;
	direita :  0 ;
	inferior :  0 ;
	cor de fundo :  rgba ( 74 ,  4 ,  38 ,  0,53 );
	conteúdo :  "" ;
}
. legenda do banner {
	posição : absoluto;
	superior :  50 % ;
	largura :  100 % ;
	índice z :  2 ;
}
. subrodapé {
	cor de fundo :  # DA095F ;
	preenchimento :  40 px  0 ;
}
. subrodapé  a {
cor :  # FF89BA ;
}
. seção {
	cor de fundo :  # ffffff ;
	preenchimento :  80 px  0 ;
}

/* Fundos
-------------------------------------------------- ---------------------- */
. default-bg {
	cor de fundo :  # 222222 ;
	cor :  #ffffff ; _
}
. default-bg . azul {
	cor de fundo :  # 55acee ;
}
. btn-primary {
cor :  #fff ; _
cor de fundo :  # BD0451 ;
borda : 0 px ;
}
. btn-primário : passe o mouse , . btn-primário : foco , . btn-primary . foco , . btn-primário : ativo , . btn-primary . ativo , . abrir  > . dropdown-toggle . btn-primary {
cor :  #fff ; _
cor de fundo :  # E00A63 ;
borda : 0 px ;
}
. transplante-bg {
	cor :  #ffffff ; _
}
. default-bg  h1 ,
. default-bg  h2 ,
. default-bg  h3 ,
. default-bg  h4 ,
. default-bg  h5 ,
. default-bg  h6 ,
. transplante-bg  h1 ,
. transplante-bg  h2 ,
. transplante-bg  h3 ,
. transplante-bg  h4 ,
. transplante-bg  h5 ,
. transplante-bg  h6 {
	cor :  #ffffff ; _
}
. rodapé de citação padrão-bg  , 
. transprant-bg  blockquote  footer {
	cor :  #cccccc ; _
}
. default-bg  a ,
. transprant-bg  a {
	cor :  #ffffff ; _
	decoração de texto : sublinhado;
}
. padrão-bg  a : hover ,
. transprant-bg  a : hover {
	decoração de texto : nenhum;
}
. transplante-bg {
	-webkit-background-size : capa ! importante ;
	-moz-background-size : capa !importante ;
	-o-background-size : capa !importante ;
	background-size : capa !importante ;
	posição de fundo :  50 %  0 ;
	repetição de fundo : sem repetição;
	índice z :  1 ;
	posição : relativa;
	plano de fundo :  #fff ;
}
. transplante-bg . transplante-bg {
	margem superior :  80 px ;
	índice z :  3 ;
}
. transprant-bg : após {
	conteúdo :  "" ;
	posição : absoluto;
	superior :  0 ;
	esquerda :  0 ;
	índice z :  2 ;
	largura :  100 % ;
	altura :  100 % ;
	cor de fundo :  # DB0A61 ;
}
. transplante-bg . azul : depois {
	cor de fundo :  rgba ( 85 ,  172 ,  238 ,  0,7 );
}
. transplante-bg . recipiente {
	índice z :  3 ;
	posição : relativa;
}
. bg-image-1 {
	plano de fundo :  url ( "../images/bg-image-1.jpg" ) 50 %  0 px sem repetição;
}
. bg-image-2 {
}
. dados de legenda { posição : absoluto; superior :  50 % ; esquerda :  50 % ; índice z :  20 ; alinhamento de texto : centro; -webkit-transform :  traduzir ( -50 % , -50 % ); -moz-transform :  traduzir ( -50 % , -50 % ); transformar :  traduzir ( -50 % , -50% );}
. dados de legenda  h1 { text-transform : maiúsculas;}
. dados de legenda  h1  span { tamanho da fonte : herdar; altura da linha : herdar; peso da fonte : herdar;}
. dados de legenda  h3 { altura da linha : 34 px ;}
botão . botão cta . btn-light ,  botão . botão cta . btn-escuro , . botão de formulário de contato  . cta-botão , botão . botão cta . btn-padrão { 
fundo : transparente;
}
botão . botão cta {
tamanho da fonte :  16 px ;
altura da linha :  16 px ;
borda :  1 px sólido #fff ; _
preenchimento :  20 px  42 px ;
raio da borda :  4 px ;
font-family :  'Ralway' ;
peso da fonte :  600 ;
transição : fundo 0,3 s , borda colorida 0,3 s ;
margem superior : 20 px ;
}
botão . botão cta : passe o mouse {
plano de fundo : #fff ;
cor : # 000 ;
}
/* Diversos
-------------------------------------------------- ---------------------- */
. sem visualização {
	opacidade :  0 ;
	filtro :  alfa (opacidade=0);
}
. objeto visível ,
. toque . sem visualização {
	opacidade :  1  !importante ;
	filtro :  alfa (opacidade=100) !importante ;
}

/* Visando apenas o Firefox para animações mais suaves */
@-moz-document url-prefix() {
	. objeto visível ,
	. toque . sem visualização {
		-webkit-transition : opacidade 0,6 s facilidade de entrada e saída;
		-moz-transition : opacidade 0,6 s facilidade de entrada e saída;
		-o-transition : opacidade 0,6 s facilidade de entrada;
		-ms-transition : opacidade 0,6 s facilidade de entrada e saída;
		transição : opacidade 0,6 s facilidade de entrada e saída;
	}
}
. espaço {
	preenchimento :  20 px  0 ;
}
. pr-10 {
	padding-right :  10 px ;
}
. pl-10 {
	padding-left :  10 px ;
}
. pclear {
	padding-bottom :  0 ;
}
. secPadding {
preenchimento :  70 px  0 ;
}
/* Seções
-------------------------------------------------- ---------------------- */
. legenda do banner  h1 ,
. legenda de banner  h2 ,
. legenda de banner  h3 ,
. banner-legenda  h4 ,
. legenda de banner  h5 ,
. legenda do banner  h6 {
	cor :  #ffffff ; _
}
. legenda do banner  h1 {
	tamanho da fonte :  60 px ;
}
. rodapé  h1 {
cor : #fff ; _
}
. rodapé . seção {
fundo :  # 020202 ;
cor :  # 949494 ;
}
. subrodapé  p {
	margem inferior :  0 ;
	cor :  #fff ; _
}
. legenda do herói {
alinhamento de texto : centro;
preenchimento : 40 px  0 ;
}
. legenda do herói  h2 {
alinhamento de texto : centro;
}
. legenda do herói  p {

}
/* Componentes do modelo
-------------------------------------------------- ---------------------- */
/* Botões
---------------------------------- */
. btn {
	preenchimento :  8 px  15 px ;
	tamanho da fonte :  14 px ;
	altura da linha :  1,42857143 ;
	largura mínima :  160 px ;
	alinhamento de texto : centro;
	raio da borda :  0 ;
	text-transform : letras maiúsculas;
	-webkit-transition : todos os 0,2 s de entrada e saída;
	-moz-transition : todos os 0,2 s de entrada e saída;
	-ms-transition : todos os 0,2 s de entrada e saída;
	-o-transition : todos os 0,2 s de entrada e saída;
	transição : todos os 0,2 s de atenuação;
}
. btn-padrão {
	cor :  #FFFFFF ; _
	plano de fundo :  # E00A63 ;
	borda :  0 ;
}
. btn-padrão : passe o mouse {
	cor :  #ffffff ; _
	cor de fundo :  # BB0A53 ;
	borda :  0 ;
}

/* Recolher
---------------------------------- */
. panel-group . painel {
	-webkit-border-radius :  0 px ;
	-moz-border-radius :  0 px ;
	raio da borda :  0 px ;
	fronteira : nenhum;
}
. padrão do painel  > . cabeçalho do painel {
	preenchimento :  0 ;
	contorno : nenhum;
	fronteira : nenhum;
	-webkit-border-radius :  0 ;
	-moz-border-radius :  0 ;
	-o-border-radius :  0 ;
	raio da borda :  0 ;
	largura :  100 % ;
}
. padrão do painel  > . cabeçalho do painel  + . panel-collapse  > . corpo do painel {
	borda :  1 px sólido # f0f0f0 ;
	borda superior : nenhum;
	cor de fundo :  # fafafa
}
. cabeçalho do painel  a {
	peso da fonte :  400 ;
	preenchimento :  12 px  35 px  12 px  15 px ;
	exibição : bloco em linha;
	largura :  100 % ;
	cor de fundo :  # fff ;
	cor :  # DB0A61 ;
	posição : relativa;
	decoração de texto : nenhum;
	borda :  # ECECEC  1 px sólido;
}
. cabeçalho do painel  a . colapsado {
	cor :  # 333333 ;
	background-color :  # FAFAFA ;
}
. cabeçalho do painel  a : após {
	font-family :  "FontAwesome" ;
	conteúdo :  "\f147" ;
	posição : absoluto;
	direita :  15 px ;
	tamanho da fonte :  14 px ;
	peso da fonte :  300 ;
	superior :  50 % ;
	altura da linha :  1 ;
	margem superior :  -7 px ;
}
. cabeçalho do painel  a . recolhido : após {
	conteúdo :  "\f196" ;
}
. cabeçalho do painel  a : passe o mouse {
	decoração de texto : nenhum;
	cor de fundo :  # FFFFFF ;
	cor :  # DB0A61 ;
}
. painel-título  a  i {
	padding-right :  10 px ;
	tamanho da fonte :  20 px ;
}

/* Comprimidos
---------------------------------- */
. pílulas de navegação  >  li . ativo  >  a ,
. pílulas de navegação  >  li . ativo  >  a : passe o mouse ,
. pílulas de navegação  >  li . ativo  >  a : foco ,
. nav-pills  >  li  >  a : hover {
	cor de fundo :  # DB0A61 ;
	cor da borda :  # DB0A61 ;
	cor :  #ffffff ; _
}
. pílulas de navegação  >  li  >  a {
	raio da borda :  0 ;
	preenchimento :  8 px  20 px ;
	borda :  1 px sólido #cacaca ; _
	cor :  # 666666 ;
	tamanho da fonte :  12 px ;
	text-transform : letras maiúsculas;
	peso da fonte :  300 ;
}

/* Formulários
---------------------------------- */
. controle de formulário {
	altura :  45px ; _
	-webkit-border-radius :  0 px ;
	-moz-border-radius :  0 px ;
	raio da borda :  0 px ;
}
. formulário-controle-feedback {
	cor :  #cccccc ; _
}
. rótulo de feedback  . sr-somente ~ . formulário-controle-feedback { 
	superior :  15 px ;
}
área de texto {
	redimensionar : vertical;
}
. tabela de preços . cabeçalho do painel {
preenchimento :  10 px  0 ;
}
/* Modais
---------------------------------- */
. conteúdo modal {
	-webkit-border-radius :  0 px ;
	-moz-border-radius :  0 px ;
	raio da borda :  0 px ;
}
. cabeçalho modal {
	cor de fundo :  # 626262 ;
	cor :  #ffffff ; _
}
. cabeçalho modal  h4 {
	cor :  #ffffff ; _
}
. cabeçalho modal . fechar {
	peso da fonte :  300 ;
	cor :  #FFFFFF ; _
	text-shadow : nenhum;
	filtro :  alfa (opacidade=100);
	opacidade :  1 ;
}
 
@media ( largura mínima : 1200 px ) {
	. modal-lg {
		largura :  1140 px ;
	}
}

/* Meios de comunicação
---------------------------------- */
. mídia . fa {
	tamanho da fonte :  24 px ;
	largura :  40 px ;
	altura :  25px ; _
	altura da linha :  25 px ;
	preenchimento :  0  5 px ;
	alinhamento de texto : centro;
}

/* Navegações
-------------------------------------------------- ---------------------- */
. cabeçalho . barra de navegação {
	margem inferior :  0 ;
}
. navegação principal . padrão da barra de navegação {
	cor de fundo : transparente;
	fronteira : nenhum;
}
. navegação principal . navbar-default . navbar-nav  >  li  >  a {
	cor :  #fff ; _
	preenchimento :  10 px  20 px ;
	tamanho da fonte :  18 px ;
	peso da fonte :  400 ;
}
. navegação principal . navbar-default . navbar-nav  >  li . ativo  >  um {
	cor de fundo : transparente;
	cor :  # DB0A61 ;
}
. navegação principal . navbar-default . navbar-nav  >  li  >  a : hover ,
. navegação principal . navbar-default . navbar-nav  >  li . ativo  >  a : passe o mouse {
	cor :  # DB0A61 ;
}

/* carrossel */
# carrossel de citações 
{
  preenchimento :  0  10 px  30 px  10 px ;
  margem superior :  30 px ;
}

/* Botões de controle */
# citação-carrossel . carrossel de controle
{
  plano de fundo : nenhum;
  cor :  # 222 ;
  tamanho da fonte :  2,3 em ;
  text-shadow : nenhum;
  margem superior :  30 px ;
}
/* Botão anterior */
# citação-carrossel . controle de carrossel . deixei 
{
  esquerda :  -12 px ;
}
/* Próximo botão */
# citação-carrossel . controle de carrossel . certo 
{
  direita :  -12 px  !important ;
}
/* Muda a posição dos indicadores */
# citação-carrossel . indicadores de carrossel 
{
  direita :  50 % ;
  superior : automático;
  inferior :  0 px ;
  margem direita :  -19 px ;
}
/* Muda a cor dos indicadores */
# citação-carrossel . indicadores de carrossel  li 
{
  plano de fundo :  # c0c0c0 ;
}
# citação-carrossel . indicadores-carrossel . ativo 
{
  fundo :  # 333333 ;
}
# citação-carrossel  img
{
  largura :  250 pixels ;
  altura :  100 pixels
}
/* Fim do carrossel */

. citação de item  {
    borda-esquerda : nenhum;
    margem :  0 ;
}

. citação de item  img { 
    margem inferior :  10 px ;
}

. citação de item  p : antes { 
    conteúdo :  "\f10d" ;
    font-family :  'Fontawesome' ;
    flutuar : esquerda;
    margem direita :  10 px ;
}



/**
  CONSULTAS DE MÍDIA
*/

/* Dispositivos pequenos (tablets, 768px e superior) */
@media ( largura mínima :  768 px ) {
    # carrossel de citações 
    {
      margem inferior :  0 ;
      preenchimento :  0  40 px  30 px  40 px ;
    }
    
}

/* Dispositivos pequenos (tablets, até 768px) */
@media ( largura máxima :  768 px ) {
    
    /* Torna os indicadores maiores para facilitar o clique com os dedos/polegar no celular */
    
    # citação-carrossel . indicadores-carrossel {
        inferior :  -20 px  !importante ;  
    }
    # citação-carrossel . indicadores-carrossel  li {
        exibição : bloco em linha;
        margem :  0 px  5 px ;
        largura :  15px ; _
        altura :  15px ; _
    }
    # citação-carrossel . carrossel-indicadores  li . ativo {
        margem :  0 px  5 px ;
        largura :  20 px ;
        altura :  20px ; _
    }
}

@media ( largura mínima : 768 px ) {
	. navegação principal . navbar-default . navbar-nav  >  li  >  a {
		padding-top :  30 px ;
		padding-bottom :  30 px ;
		-webkit-transition : todos os 0,3 s de entrada e saída;
		-moz-transition : todos os 0,3 s de entrada e saída;
		-o-transition : todos os 0,3 s de entrada e saída;
		-ms-transition : todos os 0,3 s de entrada e saída;
		transição : todos os 0,3 s de entrada e saída;
	}
}
@media ( largura mínima : 768 px ) e ( largura máxima : 991 px ) {
	. navegação principal . fluido recipiente {
		padding-esquerda :  0 ;
		padding-right :  0 ;
	}
	. navbar-nav {
		float : esquerda ! importante ;
	}
}
@media ( largura máxima : 767 px ) {
	. cabeçalho . navbar-fixed-top {
		posição : absoluto;
	}
}

/* Cabeçalho Fixo
-------------------------------------------------- ---------------------- */
. cabeçalho fixo em . cabeçalho {
	cor de fundo :  rgba ( 0 ,  0 ,  0 ,  0,95 );
	preenchimento :  5 px  0 ;
}
. cabeçalho fixo em . marca {
	tamanho da fonte :  24 px ;
}
. cabeçalho fixo em . logotipo {
	-webkit-transform :  escala ( 0,8 );
	transformar :  escala ( 0,8 );
	margem superior :  0 ;
	margem inferior :  0 ;
}
@media ( largura mínima : 768 px ) {
	. cabeçalho fixo em . navbar-default . navbar-nav  >  li  >  a {
		padding-top :  20 px ;
		padding-bottom :  20 px ;
	}
}
@media ( largura máxima : 991 px ) {
	. cabeçalho fixo em . logotipo ,
	. cabeçalho fixo em . marca ,
	. cabeçalho fixo em . slogan do site {
		exibição : nenhum;
	}
}

/* Blocos/Widgets
-------------------------------------------------- ---------------------- */
/* Logotipo, nome do site, slogan do site
---------------------------------- */
. logotipo {
	margem :  10 px  0 px  10 px  0 ;
	-webkit-transition : todos os 0,3 s de entrada e saída;
	-moz-transition : todos os 0,3 s de entrada e saída;
	-o-transition : todos os 0,3 s de entrada e saída;
	-ms-transition : todos os 0,3 s de entrada e saída;
	transição : todos os 0,3 s de entrada e saída;
}
. logotipo ,
. logo-seção {
	flutuar : esquerda;
}
. marca {
	tamanho da fonte :  38 px ;
	-webkit-transition : todos os 0,3 s de entrada e saída;
	-moz-transition : todos os 0,3 s de entrada e saída;
	-o-transition : todos os 0,3 s de entrada e saída;
	-ms-transition : todos os 0,3 s de entrada e saída;
	transição : todos os 0,3 s de entrada e saída;
	preenchimento :  10 px  0 ;
}
. marca  um {
	cor :  #ffffff ; _
}
. marca  a : passe o mouse {
	decoração de texto : nenhum;
}
. slogan do site {
	tamanho da fonte :  12 px ;
}

/* listas de bloqueio
---------------------------------- */
. lista de bloqueio . mídia-esquerda {
	largura :  60 px ;
}
. lista de bloqueio  p {
tamanho da fonte :  16 px ;
}
. lista de bloqueio . fa {
borda :  1 px sólido #fff ; _
preenchimento :  20 px ;
largura :  65 px ;
altura :  65px ; _
raio da borda :  50 % ;
}
/* Links Sociais
---------------------------------- */
. links sociais {
	preenchimento :  0 ;
	estilo de lista : nenhum;
	margem :  15 px  0 ;
}
. links sociais  li {
	margem :  10 px  10 px  10 px  0 ;
	exibição : bloco em linha;
	tamanho da fonte :  36 px ;
}
. links sociais  li  a {
	cor :  #BBBBB ; _
	-webkit-transition : todos os 0,2 s de entrada e saída;
	-moz-transition : todos os 0,2 s de entrada e saída;
	-o-transition : todos os 0,2 s de entrada e saída;
	-ms-transition : todos os 0,2 s de entrada e saída;
	transição : todos os 0,2 s de atenuação;
	borda :  1 px sólido # D0D0D0 ;
	largura :  52 px ;
	altura :  52 px ;
	exibição : bloco em linha;
	raio da borda :  50 % ;
	tamanho da fonte :  26 px ;
	alinhamento de texto : centro;
	preenchimento :  4 px ;
}
. links sociais  li . twitter  a : passe o mouse {
	cor :  # 55acee ;
}
. links sociais  li . skype  a : passe o mouse {
	cor :  # 00aff0 ;
}
. links sociais  li . vinculado  em um : passe o mouse {
	cor :  # 0976b4 ;
}
. links sociais  li . googleplus  a : passe o mouse {
	cor :  # dd4b39 ;
}
. links sociais  li . youtube  a : passe o mouse {
	cor :  # b31217 ;
}
. links sociais  li . flickr  a : passe o mouse {
	cor :  # ff0084 ;
}
. links sociais  li . facebook  a : passe o mouse {
	cor :  # 3b5998 ;
}
. links sociais  li . pinterest  a : passe o mouse {
	cor :  # cb2027 ;
}

/* Itens de isótopos
---------------------------------- */
. filtros {
	margem :  0  0  30 px  0 ;
}
. filtros . pílulas de navegação  >  li {
	margem direita :  2 px ;
	margem inferior :  2 px ;
}
. filtros . pílulas de navegação  >  li  +  li {
	margem esquerda :  0 px ;
}
. text-center . filtros . pílulas de navegação  >  li {
	margem direita :  2 px ;
	margem esquerda :  2 px ;
	margem inferior :  2 px ;
	exibição : bloco em linha;
	flutuante : nenhum;
}
. recipiente de isótopos {
	estouro : oculto;
}
. item de isótopo {
	margem inferior :  20 px ;
}
. isotope-item . btn-padrão {
	cor :  #FFFFFF ; _
	plano de fundo :  rgba ( 219 ,  10 ,  97 ,  0,69 );
	margem superior :  -36 px ;
	índice z :  2 ;
	posição : relativa;
	borda :  0 ;
}
. isotope-item . btn-padrão : passe o mouse {
	cor :  #ffffff ; _
}
@media ( largura máxima : 480 px ) {
	. filtros . pílulas de navegação  >  li {
		largura :  100 % ;
		exibição : bloco;
	}
}

/* Sobreposição de imagens
-------------------------------------------------- ---------------------- */
. contêiner de sobreposição {
	posição : relativa;
	exibição : bloco;
	estouro : oculto;
}
. sobreposição {
	posição : absoluto;
	superior :  0 ;
	inferior :  -1 px ;
	esquerda :  0 ;
	direita :  -1 px ;
	cor de fundo :  rgba ( 219 ,  10 ,  97 ,  0,78 );
	cursor : ponteiro;
	estouro : oculto;
	opacidade :  0 ;
	filtro :  alfa (opacidade=0);
	-webkit-transform :  escala ( 0,8 );
	transformar :  escala ( 0,8 );
	-webkit-transition : todos lineares 0,2 s ;
	-moz-transition : todos os 0,2 s lineares ;
	-ms-transition : todos lineares 0,2 s ;
	-o-transition : todos lineares 0,2 s ;
	transição : todos lineares 0,2 s ;
}
. sobreposição : passe o mouse {
	decoração de texto : nenhum;
}
. extensão de sobreposição  {
	posição : absoluto;
	exibição : bloco;
	inferior :  10 px ;
	alinhamento de texto : centro;
	largura :  100 % ;
	cor :  #ffffff ; _
	tamanho da fonte :  13 px ;
	peso da fonte :  300 ;
}
. sobrepor  eu {
	posição : absoluto;
	esquerda :  50 % ;
	superior :  50 % ;
	tamanho da fonte :  18 px ;
	altura da linha :  1 x ;
	cor :  #ffffff ; _
	margem superior :  -8 px ;
	margem esquerda :  -8 px ;
	alinhamento de texto : centro;}
. overlay-container : hover . sobreposição{
	opacidade :  1 ;
	filtro :  alfa (opacidade=100);
	-webkit-transform :  escala ( 1 );
	transformar :  escala ( 1 );
}
